<div class="subrecord-form-dummy">
  <h3>Manage Digital Object</h3>
  <div class="subrecord-form-container">
    <%= form_tag({:controller => :digitizer, :action => :update}, {:class => "form-horizontal", :id => "digitizer_update_form"}) do |f| %>
      <input type="hidden" name="uri" value="<%= @results['uri'] %>">
      <% if @results.has_key?('digital_object') %>
        <input type="hidden" name="digital_object_ref" value="<%= @results['digital_object']['uri'] %>">
      <% end %>
      <div class="form-group required">
        <label class="control-label col-sm-2">Title</label>
        <div class="col-sm-9">
          <input name="title" class="form-control" type="text" value="<%= @results['title'] %>">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">URL</label>
        <div class="col-sm-9">
          <input name="url" class="form-control" type="text" value="<%= @results['url'] %>">
        </div>
      </div>

      <% unless @results.has_key?('digital_object') %>
        <div class="form-group">
          <label class="control-label col-sm-2">Resource Type</label>
          <div class="col-sm-9">
            <select name="digital_object_type" class="form-control">
              <option value=""></option>
              <% JSONModel.enum_values(JSONModel(:digital_object).schema['properties']['digital_object_type']['dynamic_enum']).each do |type| %>
                <option value="<%= type %>"><%= I18n.t("enumerations.#{JSONModel(:digital_object).schema['properties']['digital_object_type']['dynamic_enum']}.#{type}") %></option>
              <% end %>
            </select>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="controls">
          <%= submit_tag "Update", :class => "btn btn-primary pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
