<%= setup_context :title => "#{@results['title']} (#{@results['identifier']})", :trail => [[I18n.t("plugins.digitizer.title"), {:controller => :digitizer, :action => :index}]] %>

<div class="record-pane">
  <div class="row">
    <div class="col-md-12">
      <%= render_aspace_partial :partial => "shared/flash_messages" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2><%= "#{@results['title']} (#{@results['identifier']})" %></h2>
      <% if @results.has_key?('url') || @results.has_key?('digital_object') %>
        <h4>Options</h4>
        <ul>
          <% if @results.has_key?('url') %>
            <li><a href="<%= @results['url'] %>">View in digital repository</a></li>
          <% end %>
          <% if @results.has_key?('digital_object') %>
            <li><%= link_to "View in ArchivesSpace", {:controller => :resolver, :action => :resolve_readonly, :uri => @results['digital_object']['uri']} %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <%= render_aspace_partial :partial => "manage_form" %>
  <%= render_aspace_partial :partial => "form" %>
</div>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/digitizer.js" %>"></script>
